################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/HandsArtsProyecto/.vs/HandsArtsProyecto
/HandsArtsProyecto/HandsArts/obj/Release/net8.0/HandsArts.AssemblyInfo.cs
