################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/HandsArtsProyecto/.vs/HandsArtsProyecto
/HandsArtsProyecto/.vs/ProjectEvaluation/handsartsproyecto.metadata.v7.bin
/HandsArtsProyecto/.vs/ProjectEvaluation/handsartsproyecto.projects.v7.bin
/HandsArtsProyecto/HandsArts/obj/Debug/net8.0/HandsArts.AssemblyInfo.cs
/HandsArtsProyecto/HandsArts/obj/Debug/net8.0/HandsArts.AssemblyInfoInputs.cache
/HandsArtsProyecto/HandsArts/obj/Debug/net8.0/project.razor.vs.bin
